.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--accent-bg-color);
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    flex-wrap: nowrap;
  }
}
