.footer-contacts {
  margin-bottom: 60px;
}
.footer-contacts__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-contacts__item:not(:last-child) {
  margin-bottom: 8px;
}
.studio-address {
  font-style: inherit;
}

.footer-contacts__address {
  font-style: inherit;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  color: var(--accent-color3);

  transition: color 250ms var(--transition);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-contacts__mail {
  font-style: inherit;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms var(--transition);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer-contacts__tel {
  font-style: inherit;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms var(--transition);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .footer-contacts {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    margin-right: 70px;
    margin-bottom: 0;
  }
  .footer-contacts__item:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer-contacts__list {
    display: block;
  }
}
