.portfolio-prj__item:not(:last-child) {
  margin-bottom: 30px;
}
.portfolio-prj__card {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.portfolio-prj__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--accent-text-color);

  margin-bottom: 4px;
}
.portfolio-prj__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--accent-color2);
}
.portfolio-prj__link {
  max-width: 450px;
  display: block;
  text-decoration: none;

  transition: 250ms box-shadow var(--transition);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-prj__img {
  position: relative;
  max-width: 450px;
  max-height: 294px;
  overflow: hidden;
  &-div {
    max-width: 450px;
  }
  &-div {
    width: 450px;
  }
}
.portfolio-prj__overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 100%);
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transition: transform 250ms var(--transition), opacity 250ms var(--transition);

  .portfolio-prj__link:hover & {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.portfolio-prj__overlay-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;

  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .portfolio-prj {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .portfolio-prj__item {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 354px;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 90px) / 3);
  }
  .portfolio-prj__item:not(:last-child) {
    margin-bottom: 0;
  }
  .portfolio-prj__img {
    max-width: 354px;
  }
  .portfolio-prj__img-div {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-prj__item {
    max-width: 370px;
  }

  .portfolio-prj__img {
    max-width: 370px;
  }
  .portfolio-prj__img-div {
    max-width: 370px;
  }
  .portfolio-prj__title {
    font-size: 18px;
  }
}
