.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}
.team__item {
  max-width: 450px;
  max-height: 622px;
  background-color: var(--accent-color3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__img {
  width: 100%;
  max-height: 460px;
}
.team-card {
  padding-top: 30px;
  padding-bottom: 16px;
}
.team-card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  margin-bottom: 10px;
}
.team-card__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-color2);
  margin-bottom: 16px;
}

.team-social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-social__item:not(:last-child) {
  margin-right: 10px;
}
.team-social__link {
  // margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;

  transition: background-color 250ms var(--transition);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.team-social__icon {
  fill: var(--icon-fill);

  transition: fill 250ms var(--transition);

  .team-social__link:hover &,
  .team-social__link:focus & {
    fill: var(--accent-color3);
  }
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
  .team__item {
    width: 354px;
    height: 536px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team__list {
    flex-wrap: nowrap;
    margin-top: -30px;
    margin-left: -30px;
    margin: -15px;
  }
  .team__item {
    width: 270px;
    height: 428px;
    margin-top: 30px;
    margin-left: 30px;
    margin: 15px;
    flex-basis: calc((100% - 120px) / 4);
  }
  .team-card {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
// ver#2
// @media screen and (min-width: 1200px) {
//     .team {
//             padding-top: 94px;
//             padding-bottom: 94px;
//         }

//     .team__list {
//         display: flex;
//         flex-wrap: nowrap;
//         justify-content: space-between;
//         margin: 0;
//     }

//         .team__item {
//             width: 270px;
//             height: 428px;
//             margin: 0;

//             &:not(:last-child) {
//                 margin-bottom: 0;
//             }
//         }

//                 .team__img {
//                     width: 100%;
//                     height: 260px;
//                 }
// }
