.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-forepart {
  color: var(--accent-color);
}

.top-header .logo {
  color: #000000;
}
.footer .logo {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  color: var(--accent-color3);
}
@media screen and (min-width: 768px) {
  .top-header .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .logo {
    margin-right: 93px;
    display: inline-block;
    margin-right: 0;
    margin-bottom: 10px;
    color: var(--accent-color3);
  }
}
