:root {
  --accent-color: #2196f3;
  --accent-text-color: #212121;
  --accent-color2: #757575;
  --accent-color3: #ffffff;
  --icon-fill: #afb1b8;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: Raleway, sans-serif;
  --accent-bg-color: #2f303a;
  --transition: cubic-bezier(0.4, 0, 0.2, 1);
}
